doctype html
html
  title Upload successful
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="//unpkg.com/tachyons/css/tachyons.min.css")
  body
    article.mw7.center.ph3.ph5-ns.tc.br2.pv5.bg-washed-green.dark-green.mb4.mt3
      h1.fw6.f3.f2-ns.lh-title.mt0.mb3 Upload successful
      h2.fw2.f4.lh-copy.mt0.mb3 You successfully published an episode!
      p.fw1.f5.mt0.mb3 It may take a few moments for podcast clients to catch up.
      div
        a.f6.br-pill.bg-dark-green.no-underline.washed-green.ba.b--dark-green.grow.pv2.ph3.dib.mr3(href="/") Home
        a.f6.br-pill.dark-green.no-underline.ba.grow.pv2.ph3.dib(href="/publish.html") Publish more
